html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 80vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
  line-height: 1;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.type-animation{
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  width: 18em;
  animation: type 4s steps(60, end);
}

@keyframes type{
  from { width: 0; }
}

@media (max-width: 575px) {

  .title {
    font-size: 65px;
  }

  .type-animation{
    font-size: 16px;
  }

}